body {
  background-image: url('./img/math.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 700px)  {
  body {
    background-image: url('./img/math-cell.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}


