.inp {
  width: 100%;
  border-radius: 5px;
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  }

  .result {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 5px;
    border: none;
  }

  #icon {
    cursor: pointer;
  }

  .inp::-webkit-outer-spin-button,
  .inp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .inp[type=number] {
    -moz-appearance: textfield;
  }

  .inp::placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #095edc #f1f1f1;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #095edc;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
  }

  body {
    width: 100%;
    height: 100vh;
    background-image: url('../img/math.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 700px)  {
    body {
      
      background-image: url('../img/math-cell.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  