.radius {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-repeat: no-repeat;  border: 1px solid #ced4da;
  border-radius: 0.400rem;
}

.radius::-webkit-outer-spin-button,
.radius::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.radius[type=number] {
  -moz-appearance: textfield;
}

.radius::placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.bbtn  {
  color: white;
  background-color: rgb(13, 110, 253);
  border-radius: 50%;
  border: none;
  padding: 0px 12px;
  transition: all 0.15s ease 0s;
  font-size: large;
}
.bbtn:hover{
  background-color: #095edc;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #095edc #f1f1f1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
	background-color: #095edc;
	border-radius: 20px;
	border: 3px solid #f1f1f1;
}

body {
  height: 100vh;
  background-image: url('../img/math.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 700px)  {
  body {
    background-image: url('../img/math-cell.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
